.Rproj.user
.Rhistory
.RData
.Ruserdata
QL_1679.xlsx
alphadiv.tsv
asvcount.tsv
experiment_paired_fastq_spreadsheet_template.xlsx
figures
manuscript_flowcells
seqtab.tsv
smd.tsv
smd.xlsx
taxonomy.tsv
transcripts
