.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
QL_1679.xlsx
chemistry.txt
eggnogs.tsv
final.contigs.tsv
flowcell_diagram.key
flowcells_files
manuscript.docx
manuscript_flowcells
prokka.tsv
review.txt
seqtab.tsv
smd.tsv
taxa.tsv
taxonomy.tsv
figures
flowcells_cache
old
QK1636.tsv
ASV-ncbi.tsv
ASV-table.tsv
QK1636-survey
QL1679-flowcells
archive
emapper-annotations.tsv
ncbi-taxonomy.tsv
