.Rproj.user
.Rhistory
.RData
.Ruserdata
QL_1679.xlsx
alphadiv.tsv
asvcount.tsv
experiment_paired_fastq_spreadsheet_template.xlsx
figures
manuscript_flowcells
seqtab.tsv
smd.tsv
smd.xlsx
taxonomy.tsv
transcripts
eggnogs.tsv
final.contigs.tsv
flowcells_cache
flowcells_files
prokka.tsv
smd_metat.tsv
taxa.tsv
amplicons.Rmd
amplicons.Rproj
Aspo-HRL.ai
chemistry.txt
chemistry_figs1.docx
chemistry_figs1.pdf
final.contigs.refseq_protein.reads2eggnoghiers.tsv
flowcell_diagram.key
ips.tsv
seeds.tsv
.DS_Store
fungi.tsv
manuscript.docx
review.txt
